# Dependencias
node_modules/
.next/
dist/

# Variables de entorno
.env

# Base de datos
*.db
postgres_data/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
backend/prisma/migrations/

# Debug
debug/
*.log
